@import "tailwindcss";
@import "@heroui/styles";

@theme {
  --color-primary: #0096c7;
  --color-primary-dark: #0077b6;
  --color-text-main: #1f2937;
  --color-text-muted: #6b7280;
}

:root {
  --font-inter: 'Inter', sans-serif;
}

body {
  font-family: var(--font-inter);
  color: var(--color-text-main);
  background-color: #f8fafc;
}

.nav-link {
  @apply text-sm font-medium transition-colors hover:text-primary px-3 py-2 rounded-md;
}

.nav-link-active {
  @apply text-primary border-b-2 border-primary rounded-none font-bold;
}
